<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nart1.geoalumno_v2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GeoAlumno"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="GeoAlumno">
            <intent-filter android:label="GeoAlumno">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />

                <meta-data
                    android:name="com.google.android.maps.v2.API_KEY"
                    android:value="AIzaSyCNE34rcEXLkTNUyVP1_NeffxOTLM2yKQA"
                    />

            </intent-filter>
        </activity>
        <activity android:name=".Activities.Teachers_List" />
        <activity android:name=".Activities.Maps"></activity>
    </application>

</manifest>